.search-form {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: solid 1px #c4c4c4;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #9b9b9b;
}

.search-form__item-select {
    width: 16%;
    padding: 6px 0;
    border: none;
}

.search-form__item-button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.search-icon {
    font-size: 22px;
    color: #dfdfdf;
}

.search-form__item-input {
    width: 60%;
    padding: 6px 0;
    border: none;
}

.search-form__item-select:last-of-type,
.search-form__item-button {
    padding-left: 4px;
    margin-left: 4px;
    border-left: solid 1.5px #dfdfdf;
}

.content__wrapper {
    width: 100%;
    padding: 0 40px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.shop-card {
    width: 24%;
    margin: 0 1.3% 20px 0;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #9b9b9b;
}

.shop-card:nth-child(4n) {
    margin-right: 0;
}

.shop-card__img-box {
    width: 100%;
    height: 140px;
    border-radius: 5px 5px 0 0;
}

.shop-card__img-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.shop-card__about-box {
    width: 100%;
    height: 120px;
    padding: 20px;
    background-color: #fff;
    border-radius:0 0 5px 5px;
}

.shop-card__about-text {
    margin-bottom: 6px;
}

.shop-card__about-name {
    height: 18px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.shop-card__about-tag {
    font-size: 10px;
    font-weight: bold;
}

.shop-card__unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-card__link-detail {
    padding: 6px 12px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(55, 92, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shop-card__button-favorite {
    background-color: #fff;
    border: none;
    cursor: pointer;
}