.header__users-link {
    margin: 0 0 0 auto;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(55, 92, 255);
}

.content__wrapper {
    width: 100%;
    padding: 0 60px;
    margin-top: 100px;
}

.alert--danger {
    font-size: 18px;
    color: red;
}

.alert--success {
    font-size: 20px;
    color: #32CD32;
}

.content__top {
    width: 100%;
    text-align: center;
}

.content__user {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reservations {
    width: 35%;
}

.reservations__title,
.favorites__title,
.create-representative__title,
.reservations-by-shop__title,
.update-shop__title,
.create-shop__title,
.email__title {
    font-size: 22px;
}

.reservation-item {
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
    background-color: rgb(55, 92, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 2px #9b9b9b;
}

.reservation__top {
    padding: 26px;
}

.reservation__top-header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation__top-header-title {
    margin-left: 20px;
    font-size: 14px;
}

.cancel-form__button {
    font-size: 20px;
    color: #fff;
    background-color: rgb(55, 92, 255);
    border: 2px solid #fff;
    border-radius: 16px;
    cursor: pointer;
}

.reservation__table {
    font-size: 14px;
}

.reservation__table th {
    width: 80px;
    height: 36px;
    font-weight: normal;
    text-align: left;
}

.reservation__bottom {
    width: 100%;
    text-align: center;
    background-color: rgb(19, 62, 255);
    border-radius: 0 0 5px 5px;
}

.update-form__button {
    width: 100%;
    padding: 14px 0;
    font-size: 16px;
    color: #fff;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.favorites {
    width: 55%;
}

.favorites__card-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop-card {
    width: 45%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #9b9b9b;
}

.shop-card__img-box {
    width: 100%;
    height: 140px;
    border-radius: 5px 5px 0 0;
}

.shop-card__img-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.shop-card__about-box {
    width: 100%;
    height: 120px;
    padding: 20px 8px 20px 16px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.shop-card__about-text {
    margin-bottom: 6px;
}

.shop-card__about-name {
    height: 18px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.shop-card__about-tag {
    font-size: 10px;
    font-weight: bold;
}

.shop-card__unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-card__link-detail {
    padding: 6px 12px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(55, 92, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shop-card__button-favorite {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.content__admin,
.content__representative {
    width: 100%;
    margin: 0 auto;
}

.create-representative,
.email,
.reservations-by-shop,
.update-shop,
.create-shop {
    width: 100%;
    margin-bottom: 60px;
}

.create-representative__form,
.email__form,
.update-shop__form,
.store-shop__form,
.store-area__form,
.store-genre__form {
    width: 95%;
    margin: 0 auto;
}

.create-representative__form ul,
.update-shop__form ul,
.store-shop__form ul,
.store-area__form ul,
.store-genre__form ul {
    padding-left: 0;
}

.create-representative__form li,
.update-shop__form li,
.store-shop__form li,
.store-area__form li,
.store-genre__form li {
    margin-bottom: 20px;
    list-style: none;
}

.create-representative__form-item-select,
.store-shop__form-item-select {
    width: 200px;
    padding: 6px;
    display: block;
}

.create-representative__form-item-input,
.email__form-item-input,
.update-shop__form-item-input,
.store-shop__form-item-input,
.store-area__form-item-input,
.store-genre__form-item-input {
    width: 400px;
    padding: 4px;
    display: block;
}

.email__form-item-textarea,
.update-shop__form-item-textarea,
.store-shop__form-item-textarea {
    width: 100%;
    padding: 4px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.form__item-error {
    width: 100%;
    color: red;
}

.email__form-sender-name {
    display: inline;
}

.email__mypage-link {
    padding: 2px 6px;
    margin: 0px 30px 0 8px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    background-color: #f0f0f0;
    border: 1px solid #767676;
    border-radius: 14px;
    cursor: pointer;
}

.create-representative__form-button,
.email__form-button-submit,
.update-shop__form-button,
.store-shop__form-button,
.store-area__form-button,
.store-genre__form-button {
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(55, 92, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.email__form-users-link,
.email__form-button-reset {
    padding: 5px 11px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    background-color: #f0f0f0;
    border: 1px solid #767676;
    border-radius: 5px;
    cursor: pointer;
}

.email__form-table {
    width: 100%;
}

.email__form-table tr {
    line-height: 40px;
}

.email__form-table tr:last-of-type {
    line-height: 70px;
}

.email__form-table-header:last-of-type {
    vertical-align: top;
}

.reservations-by-shop__table {
    width: 100%;
    font-size: 14px;
    text-align: left;
    background-color: #f3f3f3;
    border: solid 2px #000;
}

.reservations-by-shop__table tr:first-child {
    border-bottom: solid 2px #000;
}

.reservations-by-shop__table th,
.reservations-by-shop__table td {
    padding: 5px 5px;
    border: solid 1px #000;
}

.pagination__reserved-users {
    margin-top: 10px;
    text-align: center;
}

.create-shop__form-block {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.label__span--red {
    margin-left: 10px;
    color: red;
}

@media screen and (max-width: 768px) {
    .content__wrapper {
        padding: 0 40px;
    }

    .reservations {
        width: 54%;
    }

    .favorites {
        width: 40%;
    }

    .favorites__card-box {
        display: block;
    }

    .shop-card {
        width: 100%;
    }

    .create-representative__form-item-input,
    .email__form-item-input,
    .update-shop__form-item-input,
    .store-shop__form-item-input,
    .store-area__form-item-input,
    .store-genre__form-item-input {
        width: 300px;
    }
}

@media screen and (max-width: 480px) {
    .content__user {
        display: block;
    }

    .reservations {
        width: 100%;
    }

    .favorites {
        width: 100%;
        margin-top: 60px;
    }

    .shop-card {
        width: 230px;
        margin: 0 auto 20px;
    }

    .reservations-by-shop__table {
        font-size: 10px;
    }

    .create-representative__form-item-select,
    .store-shop__form-item-select {
        width: 140px;
    }

    .create-representative__form-item-input,
    .email__form-item-input,
    .update-shop__form-item-input,
    .store-shop__form-item-input,
    .store-area__form-item-input,
    .store-genre__form-item-input {
        width: 100%;
    }
}