.content__wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.message__box {
    width: 490px;
    padding: 100px 0;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px #9b9b9b;
    border: solid 1px #c4c4c4;
    border-radius: 5px;
    text-align: center;
}

.message__text {
    margin: 0 0 50px 0;
    font-size: 24px;
}

.message__link {
    padding: 4px 14px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(55, 92, 255);
    border-radius: 6px;
}

@media screen and (max-width: 768px) {
    .message__box {
        width: 300px;
        padding: 100px 10px;
    }

    .message__text {
        font-size: 16px;
    }
}